# Rust
target/
Cargo.lock
**/*.rs.bk
*.pdb

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Build artifacts
*.exe
*.dll
*.lib
*.so
*.dylib
tmp/VMProtect/32/Debug/VMProtect.tlog/moc.read.1u.tlog
tmp/VMProtect/32/Debug/VMProtect.tlog/moc.write.1u.tlog
tmp/VMProtect/32/Debug/VMProtect.tlog/VMProtect.write.1u.tlog
tmp/VMProtect/32/Debug/qt/qt_work.log
tmp/VMProtect/32/Debug/qt/qtvars.xml
tmp/VMProtect/32/Debug/qt/moc/moc_about_dialog.cpp
tmp/VMProtect/32/Debug/qt/moc/moc_application.cpp
tmp/VMProtect/32/Debug/qt/moc/moc_export_key_pair_dialog.cpp
tmp/VMProtect/32/Debug/qt/moc/moc_function_dialog.cpp
tmp/VMProtect/32/Debug/qt/moc/moc_help_browser.cpp
tmp/VMProtect/32/Debug/qt/moc/moc_import_license_dialog.cpp
tmp/VMProtect/32/Debug/qt/moc/moc_license_dialog.cpp
tmp/VMProtect/32/Debug/qt/moc/moc_mainwindow.cpp
tmp/VMProtect/32/Debug/qt/moc/moc_message_dialog.cpp
tmp/VMProtect/32/Debug/qt/moc/moc_models.cpp
tmp/VMProtect/32/Debug/qt/moc/moc_progress_dialog.cpp
tmp/VMProtect/32/Debug/qt/moc/moc_property_editor.cpp
tmp/VMProtect/32/Debug/qt/moc/moc_remotecontrol_win.cpp
tmp/VMProtect/32/Debug/qt/moc/moc_remotecontrol.cpp
tmp/VMProtect/32/Debug/qt/moc/moc_ScintillaEditBase.cpp
tmp/VMProtect/32/Debug/qt/moc/moc_ScintillaQt.cpp
tmp/VMProtect/32/Debug/qt/moc/moc_settings_dialog.cpp
tmp/VMProtect/32/Debug/qt/moc/moc_template_save_dialog.cpp
tmp/VMProtect/32/Debug/qt/moc/moc_templates_window.cpp
tmp/VMProtect/32/Debug/qt/moc/moc_watermark_dialog.cpp
tmp/VMProtect/32/Debug/qt/moc/moc_watermarks_window.cpp
tmp/VMProtect/32/Debug/qt/moc/moc_widgets.cpp
tmp/VMProtect/32/Debug/qt/qmake/props.txt
tmp/VMProtect/32/Debug/qt/qmake/qtvars.log
tmp/VMProtect/32/Debug/qt/qmake/qtvars.pro
tmp/VMProtect/32/Debug/qt/qmake/qtvars.vcxproj
tmp/VMProtect/32/Debug/qt/qmake/qtvars.vcxproj.filters
tmp/VMProtect/32/Debug/qt/qmake/qtvars.xml
tmp/VMProtect/32/Ultimate/VMProtect.tlog/moc.read.1u.tlog
tmp/VMProtect/32/Ultimate/VMProtect.tlog/moc.write.1u.tlog
tmp/VMProtect/32/Ultimate/VMProtect.tlog/VMProtect.write.1u.tlog
tmp/VMProtect/32/Ultimate/qt/qt_work.log
tmp/VMProtect/32/Ultimate/qt/qtvars.xml
tmp/VMProtect/32/Ultimate/qt/moc/moc_about_dialog.cpp
tmp/VMProtect/32/Ultimate/qt/moc/moc_application.cpp
tmp/VMProtect/32/Ultimate/qt/moc/moc_export_key_pair_dialog.cpp
tmp/VMProtect/32/Ultimate/qt/moc/moc_function_dialog.cpp
tmp/VMProtect/32/Ultimate/qt/moc/moc_help_browser.cpp
tmp/VMProtect/32/Ultimate/qt/moc/moc_import_license_dialog.cpp
tmp/VMProtect/32/Ultimate/qt/moc/moc_license_dialog.cpp
tmp/VMProtect/32/Ultimate/qt/moc/moc_mainwindow.cpp
tmp/VMProtect/32/Ultimate/qt/moc/moc_message_dialog.cpp
tmp/VMProtect/32/Ultimate/qt/moc/moc_models.cpp
tmp/VMProtect/32/Ultimate/qt/moc/moc_progress_dialog.cpp
tmp/VMProtect/32/Ultimate/qt/moc/moc_property_editor.cpp
tmp/VMProtect/32/Ultimate/qt/moc/moc_remotecontrol_win.cpp
tmp/VMProtect/32/Ultimate/qt/moc/moc_remotecontrol.cpp
tmp/VMProtect/32/Ultimate/qt/moc/moc_ScintillaEditBase.cpp
tmp/VMProtect/32/Ultimate/qt/moc/moc_ScintillaQt.cpp
tmp/VMProtect/32/Ultimate/qt/moc/moc_settings_dialog.cpp
tmp/VMProtect/32/Ultimate/qt/moc/moc_template_save_dialog.cpp
tmp/VMProtect/32/Ultimate/qt/moc/moc_templates_window.cpp
tmp/VMProtect/32/Ultimate/qt/moc/moc_watermark_dialog.cpp
tmp/VMProtect/32/Ultimate/qt/moc/moc_watermarks_window.cpp
tmp/VMProtect/32/Ultimate/qt/moc/moc_widgets.cpp
tmp/VMProtect/32/Ultimate/qt/qmake/props.txt
tmp/VMProtect/32/Ultimate/qt/qmake/qtvars.log
tmp/VMProtect/32/Ultimate/qt/qmake/qtvars.pro
tmp/VMProtect/32/Ultimate/qt/qmake/qtvars.vcxproj
tmp/VMProtect/32/Ultimate/qt/qmake/qtvars.vcxproj.filters
tmp/VMProtect/32/Ultimate/qt/qmake/qtvars.xml
tmp/VMProtect/64/Checked/VMProtect.tlog/moc.read.1u.tlog
tmp/VMProtect/64/Checked/VMProtect.tlog/moc.write.1u.tlog
tmp/VMProtect/64/Checked/VMProtect.tlog/VMProtect.write.1u.tlog
tmp/VMProtect/64/Checked/qt/qt_work.log
tmp/VMProtect/64/Checked/qt/qtvars.xml
tmp/VMProtect/64/Checked/qt/moc/moc_about_dialog.cpp
tmp/VMProtect/64/Checked/qt/moc/moc_application.cpp
tmp/VMProtect/64/Checked/qt/moc/moc_export_key_pair_dialog.cpp
tmp/VMProtect/64/Checked/qt/moc/moc_function_dialog.cpp
tmp/VMProtect/64/Checked/qt/moc/moc_help_browser.cpp
tmp/VMProtect/64/Checked/qt/moc/moc_import_license_dialog.cpp
tmp/VMProtect/64/Checked/qt/moc/moc_license_dialog.cpp
tmp/VMProtect/64/Checked/qt/moc/moc_mainwindow.cpp
tmp/VMProtect/64/Checked/qt/moc/moc_message_dialog.cpp
tmp/VMProtect/64/Checked/qt/moc/moc_models.cpp
tmp/VMProtect/64/Checked/qt/moc/moc_progress_dialog.cpp
tmp/VMProtect/64/Checked/qt/moc/moc_property_editor.cpp
tmp/VMProtect/64/Checked/qt/moc/moc_remotecontrol_win.cpp
tmp/VMProtect/64/Checked/qt/moc/moc_remotecontrol.cpp
tmp/VMProtect/64/Checked/qt/moc/moc_ScintillaEditBase.cpp
tmp/VMProtect/64/Checked/qt/moc/moc_ScintillaQt.cpp
tmp/VMProtect/64/Checked/qt/moc/moc_settings_dialog.cpp
tmp/VMProtect/64/Checked/qt/moc/moc_template_save_dialog.cpp
tmp/VMProtect/64/Checked/qt/moc/moc_templates_window.cpp
tmp/VMProtect/64/Checked/qt/moc/moc_watermark_dialog.cpp
tmp/VMProtect/64/Checked/qt/moc/moc_watermarks_window.cpp
tmp/VMProtect/64/Checked/qt/moc/moc_widgets.cpp
tmp/VMProtect/64/Checked/qt/qmake/props.txt
tmp/VMProtect/64/Checked/qt/qmake/qtvars.log
tmp/VMProtect/64/Checked/qt/qmake/qtvars.pro
tmp/VMProtect/64/Checked/qt/qmake/qtvars.vcxproj
tmp/VMProtect/64/Checked/qt/qmake/qtvars.vcxproj.filters
tmp/VMProtect/64/Checked/qt/qmake/qtvars.xml
tmp/VMProtectCon/64/Checked/console.obj
tmp/VMProtectCon/64/Checked/main.obj
tmp/VMProtectCon/64/Checked/precompiled.obj
tmp/VMProtectCon/64/Checked/VMProtectCon.exe.recipe
tmp/VMProtectCon/64/Checked/VMProtectCon.iobj
tmp/VMProtectCon/64/Checked/VMProtectCon.ipdb
tmp/VMProtectCon/64/Checked/VMProtectCon.log
tmp/VMProtectCon/64/Checked/VMProtectCon.pch
tmp/VMProtectCon/64/Checked/VMProtectCon.tlog/CL.command.1.tlog
tmp/VMProtectCon/64/Checked/VMProtectCon.tlog/Cl.items.tlog
tmp/VMProtectCon/64/Checked/VMProtectCon.tlog/CL.read.1.tlog
tmp/VMProtectCon/64/Checked/VMProtectCon.tlog/CL.write.1.tlog
tmp/VMProtectCon/64/Checked/VMProtectCon.tlog/link.command.1.tlog
tmp/VMProtectCon/64/Checked/VMProtectCon.tlog/link.read.1.tlog
tmp/VMProtectCon/64/Checked/VMProtectCon.tlog/link.secondary.1.tlog
tmp/VMProtectCon/64/Checked/VMProtectCon.tlog/link.write.1.tlog
tmp/VMProtectCon/64/Checked/VMProtectCon.tlog/VMProtectCon.lastbuildstate
tmp/VMProtectCon/64/Debug/console.obj
tmp/VMProtectCon/64/Debug/main.obj
tmp/VMProtectCon/64/Debug/precompiled.obj
tmp/VMProtectCon/64/Debug/VMProtectCon.Build.CppClean.log
tmp/VMProtectCon/64/Debug/VMProtectCon.exe.recipe
tmp/VMProtectCon/64/Debug/VMProtectCon.log
tmp/VMProtectCon/64/Debug/VMProtectCon.pch
tmp/VMProtectCon/64/Debug/VMProtectCon.tlog/CL.command.1.tlog
tmp/VMProtectCon/64/Debug/VMProtectCon.tlog/Cl.items.tlog
tmp/VMProtectCon/64/Debug/VMProtectCon.tlog/CL.read.1.tlog
tmp/VMProtectCon/64/Debug/VMProtectCon.tlog/CL.write.1.tlog
tmp/VMProtectCon/64/Debug/VMProtectCon.tlog/link.command.1.tlog
tmp/VMProtectCon/64/Debug/VMProtectCon.tlog/link.read.1.tlog
tmp/VMProtectCon/64/Debug/VMProtectCon.tlog/link.secondary.1.tlog
tmp/VMProtectCon/64/Debug/VMProtectCon.tlog/link.write.1.tlog
tmp/VMProtectCon/64/Debug/VMProtectCon.tlog/VMProtectCon.lastbuildstate
tmp/VMProtectCon/64/Ultimate/console.obj
tmp/VMProtectCon/64/Ultimate/main.obj
tmp/VMProtectCon/64/Ultimate/precompiled.obj
tmp/VMProtectCon/64/Ultimate/RCa26536
tmp/VMProtectCon/64/Ultimate/VMProtectCon.Build.CppClean.log
tmp/VMProtectCon/64/Ultimate/VMProtectCon.exe.recipe
tmp/VMProtectCon/64/Ultimate/VMProtectCon.iobj
tmp/VMProtectCon/64/Ultimate/VMProtectCon.ipdb
tmp/VMProtectCon/64/Ultimate/VMProtectCon.log
tmp/VMProtectCon/64/Ultimate/VMProtectCon.pch
tmp/VMProtectCon/64/Ultimate/VMProtectCon.tlog/CL.command.1.tlog
tmp/VMProtectCon/64/Ultimate/VMProtectCon.tlog/Cl.items.tlog
tmp/VMProtectCon/64/Ultimate/VMProtectCon.tlog/CL.read.1.tlog
tmp/VMProtectCon/64/Ultimate/VMProtectCon.tlog/CL.write.1.tlog
tmp/VMProtectCon/64/Ultimate/VMProtectCon.tlog/link.command.1.tlog
tmp/VMProtectCon/64/Ultimate/VMProtectCon.tlog/link.read.1.tlog
tmp/VMProtectCon/64/Ultimate/VMProtectCon.tlog/link.secondary.1.tlog
tmp/VMProtectCon/64/Ultimate/VMProtectCon.tlog/link.write.1.tlog
tmp/VMProtectCon/64/Ultimate/VMProtectCon.tlog/VMProtectCon.lastbuildstate
tmp/VMProtectSDK/32/Debug/precompiled.obj
tmp/VMProtectSDK/32/Debug/sdk.obj
tmp/VMProtectSDK/32/Debug/VMProtectSDK.log
tmp/VMProtectSDK/32/Debug/VMProtectSDK32.dll.recipe
tmp/VMProtectSDK/32/Debug/VMProtectSDK32.pch
tmp/VMProtectSDK/32/Debug/VMProtectSDK.tlog/CL.command.1.tlog
tmp/VMProtectSDK/32/Debug/VMProtectSDK.tlog/Cl.items.tlog
tmp/VMProtectSDK/32/Debug/VMProtectSDK.tlog/CL.read.1.tlog
tmp/VMProtectSDK/32/Debug/VMProtectSDK.tlog/CL.write.1.tlog
tmp/VMProtectSDK/32/Debug/VMProtectSDK.tlog/link.command.1.tlog
tmp/VMProtectSDK/32/Debug/VMProtectSDK.tlog/link.read.1.tlog
tmp/VMProtectSDK/32/Debug/VMProtectSDK.tlog/link.secondary.1.tlog
tmp/VMProtectSDK/32/Debug/VMProtectSDK.tlog/link.write.1.tlog
tmp/VMProtectSDK/32/Debug/VMProtectSDK.tlog/VMProtectSDK.lastbuildstate
tmp/VMProtectSDK/64/Debug/precompiled.obj
tmp/VMProtectSDK/64/Debug/sdk.obj
tmp/VMProtectSDK/64/Debug/VMProtectSDK.log
tmp/VMProtectSDK/64/Debug/VMProtectSDK64.Build.CppClean.log
tmp/VMProtectSDK/64/Debug/VMProtectSDK64.dll.recipe
tmp/VMProtectSDK/64/Debug/VMProtectSDK64.pch
tmp/VMProtectSDK/64/Debug/VMProtectSDK.tlog/CL.command.1.tlog
tmp/VMProtectSDK/64/Debug/VMProtectSDK.tlog/Cl.items.tlog
tmp/VMProtectSDK/64/Debug/VMProtectSDK.tlog/CL.read.1.tlog
tmp/VMProtectSDK/64/Debug/VMProtectSDK.tlog/CL.write.1.tlog
tmp/VMProtectSDK/64/Debug/VMProtectSDK.tlog/link.command.1.tlog
tmp/VMProtectSDK/64/Debug/VMProtectSDK.tlog/link.read.1.tlog
tmp/VMProtectSDK/64/Debug/VMProtectSDK.tlog/link.secondary.1.tlog
tmp/VMProtectSDK/64/Debug/VMProtectSDK.tlog/link.write.1.tlog
tmp/VMProtectSDK/64/Debug/VMProtectSDK.tlog/VMProtectSDK.lastbuildstate
tmp/VMProtectSDK/64/Release/precompiled.obj
tmp/VMProtectSDK/64/Release/sdk.obj
tmp/VMProtectSDK/64/Release/VMProtectSDK.log
tmp/VMProtectSDK/64/Release/VMProtectSDK64.dll.recipe
tmp/VMProtectSDK/64/Release/VMProtectSDK64.pch
tmp/VMProtectSDK/64/Release/VMProtectSDK.tlog/CL.command.1.tlog
tmp/VMProtectSDK/64/Release/VMProtectSDK.tlog/Cl.items.tlog
tmp/VMProtectSDK/64/Release/VMProtectSDK.tlog/CL.read.1.tlog
tmp/VMProtectSDK/64/Release/VMProtectSDK.tlog/CL.write.1.tlog
tmp/VMProtectSDK/64/Release/VMProtectSDK.tlog/link.command.1.tlog
tmp/VMProtectSDK/64/Release/VMProtectSDK.tlog/link.read.1.tlog
tmp/VMProtectSDK/64/Release/VMProtectSDK.tlog/link.secondary.1.tlog
tmp/VMProtectSDK/64/Release/VMProtectSDK.tlog/link.write.1.tlog
tmp/VMProtectSDK/64/Release/VMProtectSDK.tlog/VMProtectSDK.lastbuildstate
tmp/core/64/Checked/core_utils.obj
tmp/core/64/Checked/core.lib.recipe
tmp/core/64/Checked/core.log
tmp/core/64/Checked/core.obj
tmp/core/64/Checked/core.pch
tmp/core/64/Checked/core.vcxproj.FileListAbsolute.txt
tmp/core/64/Checked/crypto.obj
tmp/core/64/Checked/file_manager.obj
tmp/core/64/Checked/files.obj
tmp/core/64/Checked/inifile.obj
tmp/core/64/Checked/IntelCommand.obj
tmp/core/64/Checked/IntelCommandInfo.obj
tmp/core/64/Checked/IntelFunction.obj
tmp/core/64/Checked/IntelFunctionList.obj
tmp/core/64/Checked/IntelLoader.obj
tmp/core/64/Checked/IntelMisc.obj
tmp/core/64/Checked/IntelObfuscation.obj
tmp/core/64/Checked/IntelOpcodeInfo.obj
tmp/core/64/Checked/IntelOperand.obj
tmp/core/64/Checked/IntelSDK.obj
tmp/core/64/Checked/IntelStack.obj
tmp/core/64/Checked/IntelVirtualMachine.obj
tmp/core/64/Checked/IntelVirtualMachineList.obj
tmp/core/64/Checked/IntelVirtualMachineProcessor.obj
tmp/core/64/Checked/IntelVMCommand.obj
tmp/core/64/Checked/lang.obj
tmp/core/64/Checked/license.obj
tmp/core/64/Checked/objects.obj
tmp/core/64/Checked/OpcodeCryptor.obj
tmp/core/64/Checked/osutils.obj
tmp/core/64/Checked/packer.obj
tmp/core/64/Checked/pefile.obj
tmp/core/64/Checked/precompiled.obj
tmp/core/64/Checked/processors.obj
tmp/core/64/Checked/project_template.obj
tmp/core/64/Checked/rsa.obj
tmp/core/64/Checked/script.obj
tmp/core/64/Checked/SectionCryptor.obj
tmp/core/64/Checked/streams.obj
tmp/core/64/Checked/ValueCryptor.obj
tmp/core/64/Checked/watermark.obj
tmp/core/64/Checked/core.tlog/CL.command.1.tlog
tmp/core/64/Checked/core.tlog/Cl.items.tlog
tmp/core/64/Checked/core.tlog/CL.read.1.tlog
tmp/core/64/Checked/core.tlog/CL.write.1.tlog
tmp/core/64/Checked/core.tlog/core.lastbuildstate
tmp/core/64/Checked/core.tlog/Lib-link.read.1.tlog
tmp/core/64/Checked/core.tlog/Lib-link.write.1.tlog
tmp/core/64/Checked/core.tlog/Lib.command.1.tlog
tmp/core/64/Debug/core_utils.obj
tmp/core/64/Debug/core.Build.CppClean.log
tmp/core/64/Debug/core.lib.recipe
tmp/core/64/Debug/core.log
tmp/core/64/Debug/core.obj
tmp/core/64/Debug/core.pch
tmp/core/64/Debug/core.vcxproj.FileListAbsolute.txt
tmp/core/64/Debug/crypto.obj
tmp/core/64/Debug/file_manager.obj
tmp/core/64/Debug/files.obj
tmp/core/64/Debug/inifile.obj
tmp/core/64/Debug/IntelCommand.obj
tmp/core/64/Debug/IntelCommandInfo.obj
tmp/core/64/Debug/IntelFunction.obj
tmp/core/64/Debug/IntelFunctionList.obj
tmp/core/64/Debug/IntelLoader.obj
tmp/core/64/Debug/IntelMisc.obj
tmp/core/64/Debug/IntelObfuscation.obj
tmp/core/64/Debug/IntelOpcodeInfo.obj
tmp/core/64/Debug/IntelOperand.obj
tmp/core/64/Debug/IntelSDK.obj
tmp/core/64/Debug/IntelStack.obj
tmp/core/64/Debug/IntelVirtualMachine.obj
tmp/core/64/Debug/IntelVirtualMachineList.obj
tmp/core/64/Debug/IntelVirtualMachineProcessor.obj
tmp/core/64/Debug/IntelVMCommand.obj
tmp/core/64/Debug/lang.obj
tmp/core/64/Debug/license.obj
tmp/core/64/Debug/objects.obj
tmp/core/64/Debug/OpcodeCryptor.obj
tmp/core/64/Debug/osutils.obj
tmp/core/64/Debug/packer.obj
tmp/core/64/Debug/pefile.obj
tmp/core/64/Debug/precompiled.obj
tmp/core/64/Debug/processors.obj
tmp/core/64/Debug/project_template.obj
tmp/core/64/Debug/rsa.obj
tmp/core/64/Debug/script.obj
tmp/core/64/Debug/SectionCryptor.obj
tmp/core/64/Debug/streams.obj
tmp/core/64/Debug/ValueCryptor.obj
tmp/core/64/Debug/watermark.obj
tmp/core/64/Debug/core.tlog/CL.command.1.tlog
tmp/core/64/Debug/core.tlog/Cl.items.tlog
tmp/core/64/Debug/core.tlog/CL.read.1.tlog
tmp/core/64/Debug/core.tlog/CL.write.1.tlog
tmp/core/64/Debug/core.tlog/core.lastbuildstate
tmp/core/64/Debug/core.tlog/Lib-link.read.1.tlog
tmp/core/64/Debug/core.tlog/Lib-link.write.1.tlog
tmp/core/64/Debug/core.tlog/Lib.command.1.tlog
tmp/core/64/Ultimate/architecture.obj
tmp/core/64/Ultimate/compiler_func.obj
tmp/core/64/Ultimate/core_utils.obj
tmp/core/64/Ultimate/core.Build.CppClean.log
tmp/core/64/Ultimate/core.lib.recipe
tmp/core/64/Ultimate/core.log
tmp/core/64/Ultimate/core.obj
tmp/core/64/Ultimate/core.pch
tmp/core/64/Ultimate/core.vcxproj.FileListAbsolute.txt
tmp/core/64/Ultimate/crypto.obj
tmp/core/64/Ultimate/exports.obj
tmp/core/64/Ultimate/fixups.obj
tmp/core/64/Ultimate/imports.obj
tmp/core/64/Ultimate/IntelCommand.obj
tmp/core/64/Ultimate/IntelCommandInfo.obj
tmp/core/64/Ultimate/IntelFunction.obj
tmp/core/64/Ultimate/IntelFunctionList.obj
tmp/core/64/Ultimate/IntelLoader.obj
tmp/core/64/Ultimate/IntelMisc.obj
tmp/core/64/Ultimate/IntelObfuscation.obj
tmp/core/64/Ultimate/IntelOpcodeInfo.obj
tmp/core/64/Ultimate/IntelOperand.obj
tmp/core/64/Ultimate/IntelSDK.obj
tmp/core/64/Ultimate/IntelStack.obj
tmp/core/64/Ultimate/IntelVirtualMachine.obj
tmp/core/64/Ultimate/IntelVirtualMachineList.obj
tmp/core/64/Ultimate/IntelVirtualMachineProcessor.obj
tmp/core/64/Ultimate/IntelVMCommand.obj
tmp/core/64/Ultimate/license.obj
tmp/core/64/Ultimate/mapping.obj
tmp/core/64/Ultimate/markers.obj
tmp/core/64/Ultimate/memory.obj
tmp/core/64/Ultimate/objects.obj
tmp/core/64/Ultimate/osutils.obj
tmp/core/64/Ultimate/packer.obj
tmp/core/64/Ultimate/PEArchitecture.obj
tmp/core/64/Ultimate/PEDebug.obj
tmp/core/64/Ultimate/PEDelayImport.obj
tmp/core/64/Ultimate/PEDirectory.obj
tmp/core/64/Ultimate/PEExport.obj
tmp/core/64/Ultimate/PEFile.obj
tmp/core/64/Ultimate/PEFixup.obj
tmp/core/64/Ultimate/PEImport.obj
tmp/core/64/Ultimate/PEMapFile.obj
tmp/core/64/Ultimate/PEResource.obj
tmp/core/64/Ultimate/PERuntimeFunction.obj
tmp/core/64/Ultimate/PESegment.obj
tmp/core/64/Ultimate/PESEHandler.obj
tmp/core/64/Ultimate/PETLS.obj
tmp/core/64/Ultimate/precompiled.obj
tmp/core/64/Ultimate/proc_command_block.obj
tmp/core/64/Ultimate/proc_command_link.obj
tmp/core/64/Ultimate/proc_command.obj
tmp/core/64/Ultimate/proc_crypto.obj
tmp/core/64/Ultimate/proc_function.obj
tmp/core/64/Ultimate/proc_info.obj
tmp/core/64/Ultimate/proc_interfaces.obj
tmp/core/64/Ultimate/proc_types.obj
tmp/core/64/Ultimate/proc_vm.obj
tmp/core/64/Ultimate/references.obj
tmp/core/64/Ultimate/relocations.obj
tmp/core/64/Ultimate/resources.obj
tmp/core/64/Ultimate/rsa.obj
tmp/core/64/Ultimate/runtime_func.obj
tmp/core/64/Ultimate/SectionCryptor.obj
tmp/core/64/Ultimate/sections.obj
tmp/core/64/Ultimate/seh.obj
tmp/core/64/Ultimate/streams.obj
tmp/core/64/Ultimate/utils.obj
tmp/core/64/Ultimate/core.tlog/CL.command.1.tlog
tmp/core/64/Ultimate/core.tlog/Cl.items.tlog
tmp/core/64/Ultimate/core.tlog/CL.read.1.tlog
tmp/core/64/Ultimate/core.tlog/CL.write.1.tlog
tmp/core/64/Ultimate/core.tlog/core.lastbuildstate
tmp/core/64/Ultimate/core.tlog/Lib-link.read.1.tlog
tmp/core/64/Ultimate/core.tlog/Lib-link.write.1.tlog
tmp/core/64/Ultimate/core.tlog/Lib.command.1.tlog
tmp/invariant_core/64/Debug/Accessor.obj
tmp/invariant_core/64/Debug/Alloc.obj
tmp/invariant_core/64/Debug/AutoComplete.obj
tmp/invariant_core/64/Debug/CallTip.obj
tmp/invariant_core/64/Debug/CaseConvert.obj
tmp/invariant_core/64/Debug/CaseFolder.obj
tmp/invariant_core/64/Debug/Catalogue.obj
tmp/invariant_core/64/Debug/CellBuffer.obj
tmp/invariant_core/64/Debug/CharacterSet.obj
tmp/invariant_core/64/Debug/CharClassify.obj
tmp/invariant_core/64/Debug/ContractionState.obj
tmp/invariant_core/64/Debug/cp-demangle.obj
tmp/invariant_core/64/Debug/Decoration.obj
tmp/invariant_core/64/Debug/Document.obj
tmp/invariant_core/64/Debug/Editor.obj
tmp/invariant_core/64/Debug/ExternalLexer.obj
tmp/invariant_core/64/Debug/Indicator.obj
tmp/invariant_core/64/Debug/invariant_core_c.pch
tmp/invariant_core/64/Debug/invariant_core.Build.CppClean.log
tmp/invariant_core/64/Debug/invariant_core.lib.recipe
tmp/invariant_core/64/Debug/invariant_core.log
tmp/invariant_core/64/Debug/invariant_core.pch
tmp/invariant_core/64/Debug/invariant_core.vcxproj.FileListAbsolute.txt
tmp/invariant_core/64/Debug/KeyMap.obj
tmp/invariant_core/64/Debug/lapi.obj
tmp/invariant_core/64/Debug/lauxlib.obj
tmp/invariant_core/64/Debug/lbaselib.obj
tmp/invariant_core/64/Debug/lbitlib.obj
tmp/invariant_core/64/Debug/lcode.obj
tmp/invariant_core/64/Debug/lcorolib.obj
tmp/invariant_core/64/Debug/lctype.obj
tmp/invariant_core/64/Debug/ldblib.obj
tmp/invariant_core/64/Debug/ldebug.obj
tmp/invariant_core/64/Debug/ldo.obj
tmp/invariant_core/64/Debug/ldump.obj
tmp/invariant_core/64/Debug/LexerBase.obj
tmp/invariant_core/64/Debug/LexerModule.obj
tmp/invariant_core/64/Debug/LexerSimple.obj
tmp/invariant_core/64/Debug/LexLua.obj
tmp/invariant_core/64/Debug/lfunc.obj
tmp/invariant_core/64/Debug/lgc.obj
tmp/invariant_core/64/Debug/LineMarker.obj
tmp/invariant_core/64/Debug/linit.obj
tmp/invariant_core/64/Debug/liolib.obj
tmp/invariant_core/64/Debug/llex.obj
tmp/invariant_core/64/Debug/lmathlib.obj
tmp/invariant_core/64/Debug/lmem.obj
tmp/invariant_core/64/Debug/loadlib.obj
tmp/invariant_core/64/Debug/lobject.obj
tmp/invariant_core/64/Debug/lopcodes.obj
tmp/invariant_core/64/Debug/loslib.obj
tmp/invariant_core/64/Debug/lparser.obj
tmp/invariant_core/64/Debug/lstate.obj
tmp/invariant_core/64/Debug/lstring.obj
tmp/invariant_core/64/Debug/lstrlib.obj
tmp/invariant_core/64/Debug/ltable.obj
tmp/invariant_core/64/Debug/ltablib.obj
tmp/invariant_core/64/Debug/ltm.obj
tmp/invariant_core/64/Debug/lundump.obj
tmp/invariant_core/64/Debug/lvm.obj
tmp/invariant_core/64/Debug/LzFind.obj
tmp/invariant_core/64/Debug/LzFindMt.obj
tmp/invariant_core/64/Debug/lzio.obj
tmp/invariant_core/64/Debug/LzmaEnc.obj
tmp/invariant_core/64/Debug/PerLine.obj
tmp/invariant_core/64/Debug/PositionCache.obj
tmp/invariant_core/64/Debug/precompiled_c.obj
tmp/invariant_core/64/Debug/precompiled.obj
tmp/invariant_core/64/Debug/PropSetSimple.obj
tmp/invariant_core/64/Debug/RESearch.obj
tmp/invariant_core/64/Debug/RunStyles.obj
tmp/invariant_core/64/Debug/ScintillaBase.obj
tmp/invariant_core/64/Debug/Selection.obj
tmp/invariant_core/64/Debug/Style.obj
tmp/invariant_core/64/Debug/StyleContext.obj
tmp/invariant_core/64/Debug/Threads.obj
tmp/invariant_core/64/Debug/tinyxml.obj
tmp/invariant_core/64/Debug/tinyxmlerr.obj
tmp/invariant_core/64/Debug/tinyxmlparser.obj
tmp/invariant_core/64/Debug/undname.obj
tmp/invariant_core/64/Debug/UniConversion.obj
tmp/invariant_core/64/Debug/unmangle.obj
tmp/invariant_core/64/Debug/ViewStyle.obj
tmp/invariant_core/64/Debug/WordList.obj
tmp/invariant_core/64/Debug/XPM.obj
tmp/invariant_core/64/Debug/invariant_core.tlog/CL.command.1.tlog
tmp/invariant_core/64/Debug/invariant_core.tlog/Cl.items.tlog
tmp/invariant_core/64/Debug/invariant_core.tlog/CL.read.1.tlog
tmp/invariant_core/64/Debug/invariant_core.tlog/CL.write.1.tlog
tmp/invariant_core/64/Debug/invariant_core.tlog/invariant_core.lastbuildstate
tmp/invariant_core/64/Debug/invariant_core.tlog/Lib-link.read.1.tlog
tmp/invariant_core/64/Debug/invariant_core.tlog/Lib-link.write.1.tlog
tmp/invariant_core/64/Debug/invariant_core.tlog/Lib.command.1.tlog
tmp/invariant_core/64/Release/Alloc.obj
tmp/invariant_core/64/Release/cp-demangle.obj
tmp/invariant_core/64/Release/invariant_core_c.pch
tmp/invariant_core/64/Release/invariant_core.Build.CppClean.log
tmp/invariant_core/64/Release/invariant_core.lib.recipe
tmp/invariant_core/64/Release/invariant_core.log
tmp/invariant_core/64/Release/invariant_core.pch
tmp/invariant_core/64/Release/invariant_core.vcxproj.FileListAbsolute.txt
tmp/invariant_core/64/Release/LzFind.obj
tmp/invariant_core/64/Release/LzFindMt.obj
tmp/invariant_core/64/Release/LzmaEnc.obj
tmp/invariant_core/64/Release/precompiled_c.obj
tmp/invariant_core/64/Release/precompiled.obj
tmp/invariant_core/64/Release/Threads.obj
tmp/invariant_core/64/Release/undname.obj
tmp/invariant_core/64/Release/unmangle.obj
tmp/invariant_core/64/Release/invariant_core.tlog/CL.command.1.tlog
tmp/invariant_core/64/Release/invariant_core.tlog/Cl.items.tlog
tmp/invariant_core/64/Release/invariant_core.tlog/CL.read.1.tlog
tmp/invariant_core/64/Release/invariant_core.tlog/CL.write.1.tlog
tmp/invariant_core/64/Release/invariant_core.tlog/invariant_core.lastbuildstate
tmp/invariant_core/64/Release/invariant_core.tlog/Lib-link.read.1.tlog
tmp/invariant_core/64/Release/invariant_core.tlog/Lib-link.write.1.tlog
tmp/invariant_core/64/Release/invariant_core.tlog/Lib.command.1.tlog
.trae/documents/编译错误修复计划.md
.trae/documents/删除_ProjectTemplate功能.md
.trae/documents/删除_watermark功能.md
.trae/documents/删除FileManager计划.md
.trae/documents/删除ini文件模块计划.md
.trae/documents/删除XML功能计划.md
.trae/documents/core-files-merge-plan.md
.trae/documents/pe-full-implementation-plan.md
.trae/documents/phase3-pe-handling-plan.md
.trae/documents/processors_refactor_plan.md
.trae/documents/remove_lang_system.md
.trae/documents/runtime_analysis_plan.md
.trae/specs/compare-intel-files/checklist.md
.trae/specs/compare-intel-files/FINAL_AUDIT_REPORT.md
.trae/specs/compare-intel-files/FIXES_SUMMARY.md
.trae/specs/compare-intel-files/spec.md
.trae/specs/compare-intel-files/tasks.md
.trae/specs/rust-refactor/checklist.md
.trae/specs/rust-refactor/spec.md
.trae/specs/rust-refactor/tasks.md
gnu_simple.mak
rust_refactoring_plan.md
VMProtectSDK64.def
VMProtectSDK32.def
bin/32/Debug/VMProtectSDK32.exp
bin/32/Debug/VMProtectSDK32.ilk
bin/64/Checked/VMProtectCon.map
bin/64/Debug/VMProtectCon.ilk
bin/64/Debug/VMProtectSDK64.exp
bin/64/Debug/VMProtectSDK64.ilk
bin/64/Release/VMProtectSDK64.exp
bin/64/Release/VMProtectSDK64.map
.vs/vmprotect/v18/.suo
.vs/vmprotect/v18/Browse.VC.db
.vs/vmprotect/v18/Browse.VC.db-shm
.vs/vmprotect/v18/Browse.VC.db-wal
.vs/vmprotect/v18/Browse.VC.opendb
.vs/vmprotect/v18/DocumentLayout.backup.json
.vs/vmprotect/v18/DocumentLayout.json
.vs/vmprotect/v18/fileList.bin
.vs/vmprotect/v18/Solution.VC.db
.vs/vmprotect/v18/ipch/3bf4b50a64116d50.ipch
.vs/vmprotect/v18/ipch/8dd5853f9d10da5a.ipch
.vs/vmprotect/v18/ipch/48a0ff86a1219550.ipch
.vs/vmprotect/v18/ipch/556461439dea9b1e.ipch
.vs/vmprotect/v18/ipch/bdfdb9c6b93014e6.ipch
.vs/vmprotect/v18/ipch/cac7b74b347170a4.ipch
.vs/vmprotect/v18/ipch/cb15bacf25de526e.ipch
.vs/vmprotect/v18/ipch/AutoPCH/8092b01ee9616a40/COMMON_INCLUDES.ipch
.vs/vmprotect/FileContentIndex/2f472b09-368f-40c1-a498-dd4de556e53e.vsidx
.vs/vmprotect/FileContentIndex/6f7db509-5c80-469d-b4e8-6a6a30aa73f6.vsidx
.vs/vmprotect/FileContentIndex/7f11c62d-f36d-412a-a7ce-3e4c0c832513.vsidx
.vs/vmprotect/FileContentIndex/8dd5ce28-536b-4c13-a78c-217be13e66f3.vsidx
.vs/vmprotect/FileContentIndex/f06d1f57-7033-4713-b24d-87d6eda17ce2.vsidx
.trae/documents/完善PE文件处理高级功能计划.md
.trae/documents/完善PE文件处理计划.md
.trae/documents/phase4-analysis-and-porting-plan.md
.trae/documents/phase4-disassembly-ir-plan.md
.trae/documents/rust-cpp-comparison-plan.md
.trae/documents/rust-cpp-comparison-report.md
.trae/documents/完善IR转换器计划.md
.trae/documents/processors-basic-fix-plan.md
.trae/documents/processors-refactor-plan.md
.trae/documents/processors-refactor-progress.md
.trae/documents/processors-vm-refactor-plan.md
.trae/specs/implement-encoder/checklist.md
.trae/specs/implement-encoder/spec.md
.trae/specs/implement-encoder/tasks.md
